.navbar-bg{
    background-color: #17252A;
}

@font-face {
    font-family: "Heavitas";
    src: url("/resources/fonts/heavitas/Heavitas.ttf");
}

@font-face{
    font-family: "Outfit";
    src: url("/resources/fonts/Outfit/static/Outfit-Regular.ttf")
}

.navbar-text{
    font-size: 24px;
    font-family: "Heavitas";
    color: #FEFFFF !important;

}

body{
    height: 100vh;
    background-color: white !important;  
}

.nav-text{
    font-size: 10px !important;
    color: white !important;
    font-family: "Heavitas";
}

.current{
    color: #FFE589 !important;
}

body{
    height: 100vh;
    background-color: #3AAFA9 !important;  
}

.flashcard{
    height: 75%;
    width: 70%;
    background-color: #17252A;
    border: 1px solid #17252A;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.custom-shadow{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3) !important; /* X, Y, Blur, Spread */
    border-radius: 10px !important; /* Optional: Smooth rounded corners */
}

.title {
    font-size: 24px;
    font-family: "Outfit";
    color: white;
}

.subtitle {
    font-size: 16px;
    font-family: "Outfit";
    color: white;
}

.matrix{
    background-image: url("/resources/imgs/br2.png");
    object-fit: contain;
}

.matrix-input{
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    text-align: center;
}

.card-bg{
    background-color: #17252A !important;
}

.card-title-text{
    font-family: "Heavitas";
    font-size: 14px;
    color: #FEFFFF !important;
}

.custom-shadow{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3) !important; /* X, Y, Blur, Spread */
    border-radius: 10px !important; /* Optional: Smooth rounded corners */
}
.card-hover{
    transition: transform 0.8s ease-in, box-shadow 0.8s ease-in;
}

.card-hover:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    transition: transform 1s ease-out, box-shadow 1s ease-out;
}

.custom-dropdown {
    width: 50px; /* Adjust the width as needed */
}

.bg-dark-custom{
    background-color: #17252A;
    border: 1px solid #17252A;
    border-radius: 10px;
}

