.navbar-bg{
    background-color: #17252A;
}

@font-face {
    font-family: "Heavitas";
    src: url("/resources/fonts/heavitas/Heavitas.ttf");
}
.navbar-text{
    font-size: 24px;
    font-family: "Heavitas";
    color: #FEFFFF !important;

}

body{
    height: 100vh;
    background-color: white !important;  
}

.nav-text{
    font-size: 10px !important;
    color: white !important;
    font-family: "Heavitas";
}

.current{
    color: #FFE589 !important;
}
